* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
a {
    text-decoration: none;
}
.cta {
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    background-color: green;
    transition: 0.5s ;
}
.cta:hover {
    color: gold;
    border: gold  1px solid;
    transform: scale(1.1);
}
body {
    background-color: #010101;
}

section {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 25px;
    
}
nav {
    display: flex;
 
    gap: 2rem;
}
.hero {
    gap: 1.7rem;
}
.metodo-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.metodo-text .cta {
    width: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
footer {
    display: flex;
    justify-content: center;
    padding: 25px;
}
